/cmake-build-release/
/cmake-build-debug/
/shaders/frag.spv
/shaders/vert.spv
/cmake-build-relwithdebinfo/
/.xmake
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json
/build
/vsxmake*
compile_commands.json